@media screen and (max-width: 1020px) {

    body {
        overflow-x: hidden;
    }
    

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */
    section.topo-do-site .flex {
        gap: 40px;
        align-items: center;
    }

    section.topo-do-site {
        padding: 0px 8%;
        padding-top: 0;
        margin-top: 0;
        margin: 0;
        display: block;
        max-width: 100%;
        height: auto;
    }

    .topo-do-site h1 {
        font-size: 45px;
    }

    .topo-do-site h3 {
        font-size: 40px;
    }


    .topo-do-site .multiple-text {
        font-size: 35px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        display: block;
    }

    /* ESPECIALIDADES */
    section.especialidades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section .sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .sobre .txt-sobre p{
        margin: 40px 10px;
        text-align: center;
    }

    .btn-social {
        margin-left: 90px;
    }

    .img-sobre img {
        padding: 0 10px;
        justify-content: center;
    }

    /* PORTFÓLIO */
    section.portfolio{
        padding: 80px 8%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }

    /* RODAPÉ */
    footer .flex{
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer{
       text-align: center;
    }

    footer .line-footer .btn-social{
        gap: 10px; /* espaçamento entre os botões */
        margin: 0 auto; /* centraliza */
    }

}
